*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pink.png);
    background-position: center;
    background-size: auto;
}
#form{
    background-color: #000;
    height:400px;
    width:800px;
    margin: auto;
    margin-top: 100px;
    opacity:0.7;
}