*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    margin-top: 10;
    margin-left: 20px;
    color: rgb(215, 101, 139);
    font-family: 'Grand Hotel', cursive;
}
.navbar-brand:hover{
    color: palevioletred;
}
.nav-link{
    margin-top: 20;
    margin-right: 5px; 
    margin-left: 5px; 
    color: black;
    background-color: #B7C765;
    text-transform: uppercase;
}
.nav-link:hoverf{
    color: black;
}
.main{
    background: url(./img/hmIMG.png)no-repeat ;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}
