*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: palevioletred;
}
.navbar-brand:hover{
    color: palevioletred;
}
.nav-link{
    margin-right: 5px; 
    margin-left: 5px; 
    color: black;
    background-color: #B7C765;
    text-transform: uppercase;
}
.nav-link:hoverf{
    color: black;
}
